apiVersion: v1
kind: Service
metadata:
  labels:
    service: nginx-reverse-proxy
  name: nginx-reverse-proxy
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    service: nginx-reverse-proxy
  type: LoadBalancer

---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: nginx-reverse-proxy
  name: nginx-reverse-proxy
spec:
  replicas: 2
  selector:
    matchLabels:
      service: nginx-reverse-proxy
  strategy: {}
  template:
    metadata:
      labels:
        service: nginx-reverse-proxy
    spec:
      containers:
        - image: nginx-reverse-proxy
          name: nginx-reverse-proxy
          imagePullPolicy: Never
          ports:
            - containerPort: 443
            - containerPort: 80
          resources: {}
          volumeMounts:
            - name: letsencrypt-vol
              mountPath: /letsencrypt
            - name: letsencrypt-vol
              mountPath: /etc/letsencrypt
              subPath: certs
      hostname: nginx-reverse-proxy
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      restartPolicy: Always
      volumes:
        - name: letsencrypt-vol
          persistentVolumeClaim:
            claimName: letsencrypt-pvc
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - localhost

---

# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: test-ingress
# spec:
#   ingressClassName: nginx
#   tls:
#     - hosts:
#       - thesr.online
#     secretName: blah
#   rules:
#   - host: thesr.online
#     http:
#       paths:
#         - backend:
#             service:
#               name: nginx-reverse-proxy
#               port:
#                 number: 80
#           path: /
#           pathType: Prefix
