* {
    background-color: rgb(43, 42, 51);
    color: white;
    font-family: Courier;
}

span[id=error] {
    color: red;
}

input[type=text] {
    background-color: lightgrey;
    color: black;
    border-color: white;
    border-radius: 4px;
}

input[type=submit] {
    background-color: rgb(135,206,250);
    color: black;
    border-color: white;
    border-radius: 4px;
}
